.botao{
    display: block;
    width: 85%;
    min-height: 3rem;
    
    font-family: 'Concert One', cursive;
    font-size: 2.125rem;
    color: #2F2325;
    text-decoration: none;
    text-align:center;
    line-height: 2.5rem;

    background-color: #FFF2E7;

    box-sizing: border-box;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    padding-bottom: 20px;

}
@media (min-width:600px){
    .botao{
        height: 3rem;
    }
}

.botao:hover{
    box-shadow: 1px 1px 20px rgba(255, 242, 231, 0.7);
    background-color: #2F2325;
    color: #FFF2E7;
}

.botao-enviar{
    margin-bottom: 30px;
}